#MainTitle {
    position: absolute;
    z-index: 1000;
    right: 8.5%;
    top: 40%;
    color: #ffffff;
    text-shadow: 0 3px 6px rgba(0,0,0,.333333);
    font-family: 'Roboto Slab', serif;
    text-align: center;
}

#MainTitle > div:nth-child(1) {
    font-size: 32px;
    font-weight: 200;
    margin-bottom: 35px;
}

#MainTitle > div:nth-child(2) {
    margin-top: 14px;
    font-size: 64px;
    font-weight: bold;
}

#background-video {
    height: auto;
    width: 100%;
    float: left;
    padding: 0;
    margin-right: 0;
    position: absolute;
    top: 0;
    overflow: hidden;
}

#background-video * {
    overflow: hidden;
}

@media screen and (max-width: 1000px) {
    #MainTitle {
        display: none;
    }
}