#Navigation {
	background-color: transparent;
	z-index: 2;
	position: relative;
}

#Navigation > header {
	background-color: transparent;
}

#Navigation div {
	height: 64px;
	box-sizing: content-box;
}

#Navigation .MuiButton-label {
	font-size: 14px !important;
}

.navButton {
	color: white !important;
	height: 100%;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	font-size: 18px;
	border-radius: 0px !important;
	text-shadow: 0 3px 6px rgba(0,0,0,.333333);
}

a.selected > button {
	border-bottom: solid white 3px;
}

.navButton > span {
	line-height: 0px;
}

.navButton img {
	padding-right: 10px;
}

.logo {
	box-sizing: content-box;
}

@media screen and (max-width: 500px) {
    #Navigation {
        display: none;
    }
}